h1 {
    /*Propiedades para el título del sitio*/
    font-size: 75px; /*Tamaño*/
    font-weight: bold; /*Grosor*/
    letter-spacing: 14px; /*Espaciado entre las letras*/
    margin-bottom: 15px; /*Márgen para separar del subtítulo*/
}

h2 {
    /*Propiedades para el subtítulo del sitio*/
    font-size: 40px; /*Tamaño*/
    letter-spacing: 2px;  /*Espaciado entre las letras*/
}

article {
    /*Propiedades para el formulario*/
    width: calc(40% - 100px); /*Ancho*/
    border-radius: 10px; /*Borde redondeado*/
    padding: 40px; /*Margen interno*/
    background: rgba(181, 119, 119, 0.1); /*Fondo con opacidad*/
}

label, input{
    /*Propiedades para el texto Label y los campos de entrada*/
    display: block; /*Convierte los elementos en bloque*/
    width: 100%; /*Ancho que ocupan los elementos*/
}

label {
    /*Propiedades para las etiquetas Label*/
    margin-bottom: 5px; /*Margen inferior*/
    font-size: 20px; /*Tamaño*/
}

input {
    /*Propiedades para los campos de entrada*/
    background: rgba(5, 7, 12, 0.3); /*Fondo con opacidad*/
    padding: 20px; /*Margen interno*/
    margin-bottom: 30px; /*Margen inferior*/
    border: none; /*Se les quita el borde*/
    border-radius: 5px; /*Borde redondeado*/
    color: #fff; /*Color de texto*/
}

.encabezado {
    /*Propiedades para el título y subtítulo (h1 y h2)*/
    width: 70%; /*Ancho que ocupa*/
    text-align: center; /*Texto alineado en el centro de lo que ocupa*/
    padding: 60px 0; /*Margen interno*/
}

.caja {
    /*Propiedades para todo el contenido principal*/
    display: flex; /*Habilita flexbox*/
    justify-content: center; /*Centra horizontalmente los elementos*/
    width: 90%; /*Ancho que ocupa*/
}

.campo-texto {
    /*Propiedades para los campos que se ingresa texto*/
    width: calc(100% - 30px); /*Ancho que ocupa*/
}

.boton-login {
    /*Propiedades para el botón de "Iniciar sesión"*/
    border-radius: 5px; /*Borde redondeado*/
    font-size: 20px; /*Tamaño*/
}

.boton-login:hover {
    /*Propiedades para el botón de "Iniciar sesión" cuando se pasa por encima el cursor*/
    background: #B57777; /*Color de fondo*/
    cursor: pointer; /*Cursor estilo puntero*/
    transition-duration: 0.5s; /*Tiempo de duración de la transición*/
}

.boton-link {
    /*Propiedades para los links "Recuperar contraseña" y "Registrarse"*/
    display: block; /*Convierte los elementos en bloque*/
    width: 100%; /*Ancho que ocupa*/
    text-decoration: none; /*Elimina decoraciones que vienen por defecto*/
    color: #fff; /*Color de texto*/
    margin-top: 15px; /*Margen superior*/
    font-size: 20px; /*Tamaño*/
}

.boton-link:hover {
    /*Propiedades para los links "Recuperar contraseña" y "Registrarse" cuando se pasa por encima el cursor*/
    color: #B57777; /*Color de texto*/
}
