h1 {
    /*Propiedades para el título del sitio*/
    font-size: 25px; /*Tamaño*/
    font-weight: bold; /*Grosor*/
    letter-spacing: 2px; /*Espaciado entre las letras*/
    margin-bottom: 5px; /*Márgen para separar del subtítulo*/
    
}
.caja { 
    /*Propiedades para todo el contenido principal*/
    display: flex; /*Habilita flexbox*/
    justify-content: center; /*Centra horizontalmente los elementos*/
    width: 90%; /*Ancho que ocupa*/
}
article {
    /*Propiedades para el formulario*/
    width: calc(100% - 80px); /*Ancho*/
    border-radius: 10px; /*Borde redondeado*/
    padding: 40px; /*Margen interno*/
    background: rgba(181, 119, 119, 0.1); /*Fondo con opacidad*/
}
label, input{
    /*Propiedades para el texto Label y los campos de entrada*/
    display: block; /*Convierte los elementos en bloque*/
    width: 100%; /*Ancho que ocupan los elementos*/
}
label {
    /*Propiedades para las etiquetas Label*/
    margin-bottom: 5px; /*Margen inferior*/
    font-size: 15px; /*Tamaño*/
}

input {
    /*Propiedades para los campos de entrada*/
    background: rgba(5, 7, 12, 0.3);
    padding: 20px; /*Margen interno*/
    margin-bottom: 30px; /*Margen inferior*/
    border: none; /*Se les quita el borde*/
    border-radius: 5px; /*Borde redondeado*/
    color: #fff; /*Color de texto*/
}

.encabezado {
    /*Propiedades para el título y subtítulo (h1 y h2)*/
    width: 70%; /*Ancho que ocupa*/
    text-align: center; /*Texto alineado en el centro de lo que ocupa*/
    /*padding: 100px 0; /*Margen interno*/
    padding-top: 100px; /*margen interno superior*/
    padding-bottom: 50px; /*margen interno inferior*/
}
.campo-texto {
    /*Propiedades para los campos que se ingresa texto*/
    width: calc(100% - 30px); /*Ancho que ocupa*/
}
.boton-enviar {
     /*Propiedades para el botón de "Enviar email"*/
     border-radius: 5px; /*Borde redondeado*/
     font-size: 16px; /*Tamaño*/
     color: #fff;
}
.boton-enviar:hover{
     /*Propiedades para el botón de "Enviar email" cuando se pasa por encima el cursor*/
     background: #B57777; /*Color de fondo*/
     cursor: pointer; /*Cursor estilo puntero*/
     transition-duration: 0.5s; /*Tiempo de duración de la transición*/
}
.boton-cancelar{

     /*Propiedades para el botón de "Enviar email"*/
     border-radius: 5px; /*Borde redondeado*/
     font-size: 16px; /*Tamaño*/
     color: #fff;
}
.boton-cancelar:hover{
     /*Propiedades para el botón de "Enviar email" cuando se pasa por encima el cursor*/
     background: #B57777; /*Color de fondo*/
     cursor: pointer; /*Cursor estilo puntero*/
     transition-duration: 0.5s; /*Tiempo de duración de la transición*/
}

#mensaje{ /* La clase que contiene los mensajes de errores si no se completa bien el formulario */
    margin-top: 3em; /* El margin para que no este pegado a el enviar y cancelar*/
}

.error{
    color: rgb(224, 216, 238); /*Color de las letras del mensaje que se genera a no completar bien los campos */
}

/*
input[type="text"] {
    width: 100%;
    display: block;
    padding: 0.3em;
    box-sizing: border-box;
}
*/

@media screen and (min-width: 750px) {

    .caja {
        width: 80%;
    }

    article {
        width: calc(70% - 100px);
    }

    label, .boton-enviar, .boton-cancelar {
        font-size: 18px;
    }

}

@media screen and (min-width: 1440px) {

    .caja {
        width: 70%;
    }

    article {
        width: calc(45% - 100px);
    }

    label, .boton-enviar, .boton-cancelar {
        font-size: 20px;
    }

}