h1 {
    /*Propiedades para el título del sitio*/
    font-size: 25px; /*Tamaño*/
    font-weight: bold; /*Grosor*/
    letter-spacing: 2px; /*Espaciado entre las letras*/
    margin-bottom: 5px; /*Márgen para separar del subtítulo*/
    
}
.caja { 
    /*Propiedades para todo el contenido principal*/
    display: flex; /*Habilita flexbox*/
    justify-content: center; /*Centra horizontalmente los elementos*/
    width: 70%; /*Ancho que ocupa*/
}
article {
    /*Propiedades para el formulario*/
    width: calc(40% - 100px); /*Ancho*/
    border-radius: 10px; /*Borde redondeado*/
    padding: 40px; /*Margen interno*/
    background: rgba(181, 119, 119, 0.1); /*Fondo con opacidad*/
}
label, input{
    /*Propiedades para el texto Label y los campos de entrada*/
    display: block; /*Convierte los elementos en bloque*/
    width: 100%; /*Ancho que ocupan los elementos*/
}
label {
    /*Propiedades para las etiquetas Label*/
    margin-bottom: 5px; /*Margen inferior*/
    font-size: 20px; /*Tamaño*/
}

input {
    /*Propiedades para los campos de entrada*/
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.7));
    padding: 20px; /*Margen interno*/
    margin-bottom: 30px; /*Margen inferior*/
    border: none; /*Se les quita el borde*/
    border-radius: 5px; /*Borde redondeado*/
    color: #000; /*Color de texto*/
}

.encabezado {
    /*Propiedades para el título y subtítulo (h1 y h2)*/
    width: 70%; /*Ancho que ocupa*/
    text-align: center; /*Texto alineado en el centro de lo que ocupa*/
    /*padding: 100px 0; /*Margen interno*/
    padding-top: 100px; /*margen interno superior*/
    padding-bottom: 50px; /*margen interno inferior*/
}
.campo-texto {
    /*Propiedades para los campos que se ingresa texto*/
    width: calc(100% - 30px); /*Ancho que ocupa*/
}
.boton-enviar {
     /*Propiedades para el botón de "Enviar email"*/
     border-radius: 5px; /*Borde redondeado*/
     font-size: 20px; /*Tamaño*/
     color: black;
}
.boton-enviar:hover{
     /*Propiedades para el botón de "Enviar email" cuando se pasa por encima el cursor*/
     background: #B57777; /*Color de fondo*/
     cursor: pointer; /*Cursor estilo puntero*/
     transition-duration: 0.5s; /*Tiempo de duración de la transición*/
}
.boton-cancelar{

     /*Propiedades para el botón de "Enviar email"*/
     border-radius: 5px; /*Borde redondeado*/
     font-size: 20px; /*Tamaño*/
     color: black;
}
.boton-cancelar:hover{
     /*Propiedades para el botón de "Enviar email" cuando se pasa por encima el cursor*/
     background: #B57777; /*Color de fondo*/
     cursor: pointer; /*Cursor estilo puntero*/
     transition-duration: 0.5s; /*Tiempo de duración de la transición*/
}