h1 {
    /*Propiedades para el título del sitio*/
    font-size: 25px; /*Tamaño*/
    font-weight: bold; /*Grosor*/
    letter-spacing: 2px; /*Espaciado entre las letras*/
    margin-bottom: 5px; /*Márgen para separar del subtítulo*/
}

.encabezado {
    /*Propiedades para el título y subtítulo (h1 y h2)*/
    width: 100%; /*Ancho que ocupa*/
    text-align: center; /*Texto alineado en el centro de lo que ocupa*/
    margin: 30px 0;
    padding: 30px 0;
    border-radius: 10px; /*Borde redondeado*/
}

.contenedor { 
    /*Propiedades para todo el contenido principal*/
    display: flex; /*Habilita flexbox*/
    justify-content: center; /*Centra horizontalmente los elementos*/
    width: 100%; /*Ancho que ocupa*/
}

 .pago {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.metodo-pago input {
    background: rgba(5, 7, 12, 0.3);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.metodo-pago {
    width: 179px;
    margin: 18px;
}

.metodo-pago input, .metodo-pago span {
    margin: 10px 0;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.campo-dato {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 18px;
}

.campo-dato label {
    margin: 5px 0;
}

.campo-dato input {
    background: rgba(5, 7, 12, 0.3);
    width: 100%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}
.campo-dato input {
    margin: 0;
}

.boton-cancelar, .boton-confirmar {
    /*Propiedades para el botón de "Enviar email"*/
    font-size: 16px; /*Tamaño*/
    display: block;
    width: 100%;
    margin: 14px 0;
}

.boton-cancelar:hover, .boton-confirmar:hover {
    /*Propiedades para el botón de "Enviar email" cuando se pasa por encima el cursor*/
    background: #B57777; /*Color de fondo*/
    cursor: pointer; /*Cursor estilo puntero*/
    transition-duration: 0.5s; /*Tiempo de duración de la transición*/
}

@media screen and (min-width: 750px) {

    .contenedor, .campo-dato, form h2, .metodo-pago {
        width: 80%;
    }

    .datos, .pago {
        margin: 0 15px;
    }

    .pago {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width: 1440px) {

    h1 {
        font-size: 40px;
    }

    .encabezado {
        margin: 20px 0px;
    }

    .contenedor {
        width: 50%;
    }

    form {
        width: 60%;
    }

}